@font-face {
    font-family: 'japanese';
    src: url(Kyoto.ttf) format('truetype');
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 20px;
    background-color:mistyrose ;
}

h2,h3,h4{
    font-family: 'japanese', sans-serif;
    text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 20px;
    background-color:mistyrose ;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #af6ca5, #d48dae);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px;
}

.home-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #af6ca5;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Noto Sans JP', sans-serif;
}

.fixed-header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    flex-grow: 1;
    margin: auto;
    text-align: justify;
    padding-top: 30px;
}

.heritage-sites-list {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .heritage-site-item {
    margin-bottom: 30px;
  }
  
  .heritage-thumbnail {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    margin-bottom: 10px;
  }
  
  .heritage-site-item h1 {
    text-decoration: underline;
    margin: 10px 0; 
    color: #b55d47;
  }
  
  .heritage-site-item p {
    margin-bottom: 10px; 
  }

  
  .heritage-site-item a:hover {
    background-color: #8e114b; 
  }
  